/* #p4 {
  background-image: url('./assets/feedBack.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
} */

/* body{
  background: #ffff;
} */
/* @media (max-width: 768px) {
  .stars-container {
    font-size: 20px;
    gap: 25px;   
  }
}

#feedBtn{
  top: 87%;
  background-color: #4a79bd;
  border: none;
  border-radius: clamp(20px, 5vw, 40px);
  width: clamp(100px, 20vw, 150px);
  height: clamp(30px, 5vw, 40px);
  color: white;
  transition: transform 0.3s, background-color 0.3s;
  position: absolute;
  bottom: 17%;
  right: 5%;
}

#feedBtn:hover {
  background-color: #426ca7f2;
  transform: scale(1.1);
} */



.paper-feedback {
  position: relative; 
  width: 75%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-top: 60px;
}

.star-rating-container {
  display: flex; 
  justify-content: center; 
  gap: clamp(10px, 2vw, 30px); 
  margin-left: 90px;
  margin-top: -8px;
}
#feedBtn {
  bottom: 2%; 
  left: 90%;
  width: clamp(100px, 20vw, 150px);
  height: clamp(30px, 5vw, 40px);
  
}
