body {
  min-height: 100vh; 
  background: linear-gradient(to bottom right, #4f46e5, #7c3aed, #ec4899);
}

#p3 {
  /* position: absolute; */
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 1.563rem 3.125rem -0.75rem rgba(0, 0, 0, 0.25);
  background-color: #000;
  box-shadow: 0 4px 20px rgba(255, 0, 0, 0.1);
  width: 100%;
  font-family: 'Inter', sans-serif;
  margin-top: 60px;
}

/* #p3 .bg-img {
  display: block;
  width: 100%;
  height: auto;
  border: clamp(2px, 0.5vw, 4px) solid rgb(10, 10, 10);
  border-radius: clamp(10px, 2vw, 20px);
  box-shadow: clamp(5px, 1vw, 10px) clamp(5px, 1vw, 10px) clamp(5px, 1vw, 10px) black;
} */

#p3 .content {
  position: absolute;
  top: clamp(-1.8%, 10%, 8%);
  left: 18.5%;
  width: 100%;
  height: 100%;
  margin-top: clamp(80px, 10vw, 160px);
  font-size: 18px;
}

@media screen {
  
}

#p3 ul {
  list-style-type: lower-alpha;
  position: relative;
  left: clamp(10%, 15vw, 16%);
}

#p3 span {
  color: #4a79bd;
  position: relative;
  left: clamp(10%, 12vw, 13%);
}

#p3 li {
  position: relative;
}

#p3 li input[type="radio"] {
  position: absolute;
  left: 38%;
  top: clamp(3px, 0.5vw, 15px);
  width: clamp(12px, 2vw, 18px);
  height: clamp(12px, 2vw, 18px);
  border-radius: 50%;
  background-color: transparent; 
  cursor: pointer;
  transition: all 0.2s ease;
}

#p3 li input[type="radio"]:checked {
  background-color: black;
}

#p3 .share,
#p3 .share1 {
  color: #4a79bd;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: bold;
  margin: clamp(30px, 5vw, 62px) 0 clamp(5px, 1vw, 5px) 0;
}

#submitBtn {
  background-color: #4a79bd;
  border: none;
  border-radius: clamp(20px, 5vw, 40px);
  width: clamp(100px, 20vw, 150px);
  height: clamp(30px, 5vw, 40px);
  color: white;
  transition: transform 0.3s, background-color 0.3s;
  position: absolute;
  /* bottom: 17%;
  right: 5%; */
  left: 25%;
  top: 58%;
}

#submitBtn:hover {
  background-color: #426ca7f2;
  transform: scale(1.1);
}

.story-pages-container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: clamp(1rem, 2vw, 2rem); */
}


